$mainBackground: #73BFB8;
$aboutBackground: #373F51;
$skillsBackground: #2374AB;
$resumeBackground: #FF8484;
$contactBackground: #FFA630;

$titlefont: Montserrat;
$textfont: Open Sans;
$basicColor: #fffeec;
