$mainBackground: #373F51;
$aboutBackground: #73BFB8; 
$skillsBackground: #6C809A;

$resumeBackground: #FCFCFC;
$resumeBackground1: #197278;
$resumeBackground2: #C44536;
$resumeBackground3: #EDE7D9;

$resumeTextColor: #373F51;

$contactBackground: #FFE1A8;
$contactTextColor: #373F51;

$titlefont: Montserrat;
$textfont: Open Sans;
$basicColor: #fffeec;
